snippet log
	console.log("${1}");${2}

snippet forin
	var ${1:i};
	for ($1 in ${2:obj}) {
		if ($2.hasOwnProperty($1)) {
			${3:console.log($1 + '：' + $2[$1]);}
		}
	}
snippet args
	var args = Array.prototype.slice.call(arguments);
